<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="cache_duration" type="number" label="Cache Duration (hours)" default="24" />
        <setting id="debug_mode" type="bool" label="Debug Mode" default="false" />
    </category>
   
    <category label="Content Filter">
        <setting id="use_keywords_filter" type="bool" label="Enable Content Filtering" default="true" />
        <setting id="filter_adult" type="bool" label="Filter Adult Content" default="true" visible="eq(-1,true)"/>
        <setting id="filter_religious" type="bool" label="Filter Religious Content" default="true" visible="eq(-2,true)"/>
        <setting id="filter_sensitive" type="bool" label="Filter Sensitive Content" default="true" visible="eq(-3,true)"/>
        <setting id="filter_educational" type="bool" label="Filter Educational Content" default="true" visible="eq(-4,true)"/>
        <setting id="filter_promotional" type="bool" label="Filter Promotional Content" default="true" visible="eq(-5,true)"/>
        <setting id="filter_lowquality" type="bool" label="Filter Low Quality Content" default="true" visible="eq(-6,true)"/>
        <setting id="filter_social" type="bool" label="Filter Social Media Content" default="true" visible="eq(-7,true)"/>
        <setting id="filter_spam" type="bool" label="Filter Spam Content" default="true" visible="eq(-8,true)"/>
        <setting id="filter_gaming" type="bool" label="Filter Gaming Content" default="true" visible="eq(-9,true)"/>
        <setting id="filter_unwanted" type="bool" label="Filter Unwanted Genres" default="true" visible="eq(-10,true)"/>
        <setting id="filter_french" type="bool" label="Filter French Specific Content" default="true" visible="eq(-11,true)"/>
    </category>

    <category label="Data Storage">
        <setting id="video_history" type="text" default="{}" visible="false"/>
        <setting id="audio_history" type="text" default="{}" visible="false"/>
        <setting id="search_history" type="text" default="[]" visible="false"/>
        <setting id="favorites" type="text" default="{}" visible="false"/>
    </category>

    <category label="Categories">
        <setting id="custom_film_categories" type="text" label="Film Categories (JSON)"
                default='{"All Movies":"movies","Anime":"anime","Animation/Cartoons":"animationandcartoons","Classics":"feature_films","Classics 50":"classic_tv_1950s","Classics 60":"classic_tv_1960s","Classics 70":"classic_tv_1970s","Classics 80":"classic_tv_1980s","Classics 90":"classic_tv_1990s","Colorized":"colorized-movies","Film Noir":"Film_Noir","Science Fiction/Horror":"SciFi_Horror","Ted Talks":"tedtalks"}' />
        <setting id="custom_audio_categories" type="text" label="Audio Categories (JSON)"
                default='{"All Audios":"audio","Vinyl Box":"the-vinyl-box","HIFI":"hifidelity","HipHop":"hiphopmixtapes","Opera":"vinyl_frank-defreytas-memoria-opera","OldTime Radio":"oldtimeradio","SoundTracks":"hifidelity_soundtracks","78 RPM":"78rpm"}' />
    </category>

    <category label="Tools">
        <setting id="clear_video_history" type="action" label="Clear Video History"
                action="RunPlugin(plugin://plugin.video.bsm3d.archive.org/?action=clear_history&amp;type=video)"/>
        <setting id="clear_audio_history" type="action" label="Clear Audio History"
                action="RunPlugin(plugin://plugin.video.bsm3d.archive.org/?action=clear_history&amp;type=audio)"/>
        <setting id="clear_search_history" type="action" label="Clear Search History"
                action="RunPlugin(plugin://plugin.video.bsm3d.archive.org/?action=clear_history&amp;type=search)"/>
        <setting id="clear_cache" type="action" label="Clear Cache"
                action="RunPlugin(plugin://plugin.video.bsm3d.archive.org/?action=clear_cache)"/>
    </category>
</settings>